# disco-pipeline.service
[Unit]
Description=Disco Image Capture & Processing Pipeline service

[Service]
ExecStartPre=/bin/sh -c 'ip link set dev can0 down; ip link set dev can0 up type can bitrate 1000000 restart-ms 100 sample-point 0.750 sjw 2; ip link set dev can0 txqueuelen 1000'
ExecStart=/usr/bin/dipp -i CAN -p can0

[Install]
WantedBy=multi-user.target
