[Unit]
Description=A53 Application System Manager

[Service]
Environment="GENICAM_GENTL64_PATH=:/etc/lib/VimbaX_2023-4-ARM64/cti"
ExecStart=/usr/bin/a53-app-sys-manager -v "/home/root/a53vmem" 0 5421 8
Restart=always

[Install]
WantedBy=multi-user.target
